body {
    font-family: 'Poppins', sans-serif;
    background-image: url("pexels-rovenimagescom-949587.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

form {
    background-color: #a5f8d3;
    padding: 2%;
}

.container {
    display: flex;
    padding: 0%;
    justify-content: space-around;
    
}

input {
    margin: 5px;
}

label {
    margin: 5px;
}